:root {
    --primary-color: ;
    --secondary-color: ;
    --color-gray: #262626;
    --textHeaderFooter-color: #fff;
    --text-color: #3b3b3b;
    --border-radius10: 10px;
    --bg-gradient: linear-gradient(to top, rgba(0, 0, 0, .6), 
    rgba(0, 0, 0, .3));
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
    transition: color .7s;
}

.img500 {
    width: min(100%, 83vh);
    min-height: 30vh;
    object-fit: cover;
    border-radius: var(--border-radius10);
}

.imgObjetivos {
    width: min(100%, 7vh);
}

.imgIconPerson {
    width: min(100%, 4vh);
}

.container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    color: var(--color-light);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    font-size: clamp(1.4rem, 2vw, 2rem);
}

.header-page {
    width: 100%;
    min-height: 8vh;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    background-color: var(--color-gray);
    color: var(--textHeaderFooter-color);
    /* font-size: 25px;   */

    & h1 {
        font-size: clamp(2rem, 4vw, 3rem);
        word-break: break-word;
    }
}

.header-menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
}

.main-page {
    min-height: calc(100vh - 100px);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* background-color: red; */
}

.section-page {
    width: 100%;
    min-height: 60vh;
    height: 100vh;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */

    & h1 {
        font-size: clamp(2rem, 5vw, 4rem);
        margin-bottom: 4vw;
    }
}

.section-page7 {
    width: 100%;
    min-height: 60vh;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filho-page1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.filho-page2 {
    display: flex;
    width: 100%;
    height: 75vh;
    align-items: center;
    min-height: 200px;
    /* background-color: aqua; */
    gap: 30px;
}

.filho-page3 {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filho-page4 {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 200px;
    background-color: var(--color-gray);
    border-radius: var(--border-radius10);
    gap: 30px;

    & p {
        width: 45%;
        color: white;
    }
    
}

.filho-page5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    /* background-color: orange; */
}

.filho-page6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.beneficios {
    display: flex;
    width: 80%;
    height: 400px;
    gap: 30px;
    border-radius: var(--border-radius10);
    /* background-color: aqua; */
}

.conteudo-page2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
    /* background-color: yellow; */

    & h2 {
        font-size: 3.7rem;
    }

    & p {
        font-size: 2.3rem;
        color: var(--text-color);
    }

    & span {
        font-weight: bold;
    }
}

.conteudo-page4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.conteudo-page5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 34%;

    & h2 {
        font-size: 3rem;
    }

    & p {
        font-size: 2rem;
        color: var(--text-color);
    }
}

.conteudo-page7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 50px;
}

.quiz {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 40%;
    border-radius: 20px;
    border: solid 1px black;
}

.quiz2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px;
    gap: 30px;
    height: 310px;
}

.btn-quiz {
    background-color: white;
    color: var(--text-color);
    width: 100%;
    border: solid 1px black;
    padding: 10px;
    margin: 10px 0px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-quiz:hover{
    background-color: var(--color-gray);
    color: white;
}

.prox-btn {
    width: 150px;
    padding: 10px;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
    background-color: #A78BFA;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: .4s;
    display: none;
}

.prox-btn:hover {
    background-color: #8B5CF6;
}

.correta {
    background: #9aeabc;
}

.incorreta {
    background: #ff9393;
}

.formulario {
    width: 40%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 6px;
    background-color: white;
    border: solid 1px black;
    border-radius: var(--border-radius10);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, .3);

    & h2 {
        margin-bottom: 20px;
    }

    & input {
        border-radius: 5px;
        padding: 10px;
        font-size: 2rem;
        box-shadow: none;
        border: none;
        background-color: #dadada;
    }

    & textarea {
        height: 200px;
        border-radius: 5px;
        padding: 10px;
        font-size: 2rem;
        box-shadow: none;
        border: none;
        background-color: #dadada;
        resize: none;
        margin-bottom: 20px;
    }

    & button {
        width: 50%;
        padding: 10px;
        font-size: 2rem;
        font-weight: bold;
        background-color: #A78BFA;
        color: white;
        border-radius: var(--border-radius10);
        border: none;
        cursor: pointer;
        transition: .4s;
    }

    & button:hover {
        background-color: #8B5CF6;
    }
}

.objetivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 60%;
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px;
    gap: 40px;
    background-color: white;

    & h2 {
        font-size: 2rem;
        text-align: center;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    position: absolute;
    gap: 1.5rem;
    left: 0px;
    width: 250px;
    height: 270px;
    border-radius: 20px;
    border: solid 1px black;
    font-size: 1.7rem;

    & p {
        font-weight: bold;
        font-size: 2rem;
    }
}

.pgrafo {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    color: var(--text-color);
    width: 50%;
}

.p-center {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 7rem;
    background-color: white;

    & p {
        margin-top: 0px;
        font-size: 2.5rem;
        margin-bottom: 5rem;
        color: var(--text-color);
        width: 80%;
    }
}

.h-center {
    width: 60%;
    text-align: center;
    color: var(--text-color);
}

.rodape {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--color-gray);
    align-items: flex-end;

    & p {
        width: 100%;
        text-align: center;
        color: var(--textHeaderFooter-color);
    }
}