:root {
    --fundo-site: #000e22;
    --primary-color: #FFFFFF;
    --secondary-color: #84ABE0;
    --third-color: #7A818B;
    --fourth-color: #1E2836;
    --fifth-color: #8A9CB6;
    --text-color: #3b3b3b;
    --wh100: 100%;
    --wh50: 50%;
    --wh80: 80%;
    --font2: 2rem;
    --font3: 3rem;
    --border-radius10: 10px;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--fundo-site);
}

ul, ol {
    list-style: none;
}

li {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    transition: color .7s;
}

.img500 {
    width: min(var(--wh100), 83vh);
    min-height: 30vh;
    object-fit: cover;
    border-radius: var(--border-radius10);
}

.imgObjetivos {
    width: min(var(--wh100), 7vh);
}

.imgIconPerson {
    width: min(var(--wh100), 4vh);
}

.container {
    width: var(--wh100);
    height: var(--wh100);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: var(--wh50);
    font-size: clamp(1.4rem, 2vw, var(--font2));
}

.header-page {
    width: var(--wh100);
    min-height: 8vh;
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    background-color: var(--fourth-color);

    & h1 {
        font-size: clamp(var(--font2), 4vw, var(--font3));
        word-break: break-word;
        color: var(--primary-color);
    }
}

@media ( 1024px >= width) {
    .header-page {
        width: var(--wh100);
        min-height: 8vh;
        height: 10rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 1vw;
        background-color: var(--fourth-color);

        & h1 {
            font-size: clamp(var(--font2), 4vw, var(--font3));
            word-break: break-word;
            color: var(--primary-color);
        }
    }
}

.header-menu ul {
    display: none;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    color: var(--primary-color);
}

.main-page {
    min-height: calc(100vh - 100px);
    width: var(--wh80);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.section-page {
    width: var(--wh100);
    min-height: 60vh;
    height: 100vh;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        font-size: clamp(var(--font2), 5vw, 4rem);
        margin-bottom: 4vw;
        color: var(--primary-color);
    }
}

.section-page7 {
    width: var(--wh100);
    min-height: 60vh;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filho-page1 {
    width: var(--wh100);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.filho-page2 {
    display: flex;
    width: var(--wh100);
    height: 75vh;
    align-items: center;
    min-height: 200px;
    gap: 20px;
    padding: 0px 20px;
    background-color: var(--fourth-color);
}

.filho-page3 {
    width: var(--wh100);
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filho-page4 {
    display: flex;
    width: var(--wh100);
    align-items: center;
    min-height: 200px;
    background-color: var(--fourth-color);
    border-radius: var(--border-radius10);
    gap: 30px;

    & p {
        width: 45%;
        color: var(--primary-color);
    }
    
}

.filho-page5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70vh;
    width: var(--wh100);
    overflow: hidden;
    border-radius: var(--border-radius10);
    background-color: var(--fourth-color);
}

.filho-page6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.beneficios {
    display: none;
    width: var(--wh80);
    height: 400px;
    gap: 30px;
    border-radius: var(--border-radius10);
}

.beneficios.active {
    display: flex;
}

.conteudo-page2 {
    width: var(--wh100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;

    & h2 {
        font-size: 3.7rem;
        color: var(--primary-color);
    }

    & p {
        font-size: 2.3rem;
        color: var(--primary-color);
    }

    & span {
        font-weight: bold;
        color: var(--secondary-color);
    }
}

.conteudo-page4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.conteudo-page5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 34%;

    & h2 {
        font-size: var(--font3);
        color: var(--primary-color);
    }

    & p {
        font-size: var(--font2);
        color: var(--primary-color);
    }
}

.nav-button {
    position: absolute;
    top: 45%;
    font-size: 30px;
    color: white;
    background: var(--fourth-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.conteudo-page7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--wh100);
    height: var(--wh100);
    gap: 50px;
}

.quiz {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 500px;
    width: 40%;
    border-radius: 20px;
    border: solid 1px black;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, .3);
    background-color: var(--third-color);
}

.quiz2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px;
    gap: 10px;
    height: 20px;
}

.btn-quiz {
    background-color: white;
    color: var(--text-color);
    width: var(--wh100);
    border: solid 1px black;
    padding: 10px;
    margin: 10px 0px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-quiz:hover{
    background-color: var(--fourth-color);
    color: white;
}

.prox-btn {
    width: 150px;
    padding: 10px;
    margin: auto;
    font-size: var(--font2);
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: .4s;
    display: none;
}

.prox-btn:hover {
    background-color: var(--fifth-color);
}

.correta {
    background: #9aeabc;
}

.incorreta {
    background: #ff9393;
}

.formulario {
    width: 40%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 6px;
    background-color: var(--third-color);
    border: solid 1px black;
    border-radius: var(--border-radius10);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, .3);

    & h2 {
        margin-bottom: 20px;
    }

    & input {
        border-radius: 5px;
        padding: 10px;
        font-size: var(--font2);
        box-shadow: none;
        border: none;
        background-color: #dadada;
    }

    & textarea {
        height: 100px;
        border-radius: 5px;
        padding: 10px;
        font-size: var(--font2);
        box-shadow: none;
        border: none;
        background-color: #dadada;
        resize: none;
        margin-bottom: 15px;
    }

    & button {
        width: var(--wh50);
        padding: 10px;
        font-size: var(--font2);
        font-weight: bold;
        background-color: var(--secondary-color);
        color: white;
        border-radius: var(--border-radius10);
        border: none;
        cursor: pointer;
        transition: .4s;
    }

    & button:hover {
        background-color: var(--fifth-color);
    }
}

.input-control {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}

.objetivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 60%;
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px;
    gap: 40px;
    background-color: white;

    & h2 {
        font-size: var(--font2);
        text-align: center;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    padding: var(--font2);
    position: absolute;
    gap: 1.5rem;
    left: 0px;
    width: 250px;
    height: 270px;
    border-radius: 20px;
    border: solid 1px var(--primary-color);
    background-color: var(--fourth-color);
    font-size: 1.7rem;

    & p {
        font-weight: bold;
        font-size: var(--font2);
        color: var(--primary-color);
    }
}

.pgrafo {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    color: var(--primary-color);
    width: var(--wh50);
}

.p-center {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 7rem;

    & p {
        margin-top: 0px;
        font-size: 2.5rem;
        margin-bottom: 5rem;
        color: var(--primary-color);
        width: var(--wh80);
    }
}

.h-center {
    width: 60%;
    text-align: center;
    color: var(--primary-color);
}

.rodape {
    display: flex;
    width: var(--wh100);
    height: 200px;
    background-color: var(--fourth-color);
    align-items: flex-end;

    & p {
        width: var(--wh100);
        text-align: center;
        color: var(--primary-color);
    }
}