:root {
    --fundo-site: #000e22;
    --fundo-site2: #FFFFFF;
    --primary-color: #FFFFFF;
    --secondary-color: #84ABE0;
    --third-color: #7A818B;
    --fourth-color: #1E2836;
    --fifth-color: #8A9CB6;
    --sixth-color: #000;
    --text-color: #3b3b3b;
    --wh100: 100%;
    --wh50: 50%;
    --wh80: 80%;
    --font2: 2rem;
    --font3: 3rem;
    --gap10: 10px;
    --gap20: 20px;
    --gap30: 30px;
    --padding10: 10px;
    --border-radius10: 10px;
    --border-radius20: 20px;
    --shadow-color: white;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--fundo-site);
}

body.light-mode {
    --primary-color: #000000;   
    --fourth-color: #6e73a3;     
    --shadow-color: #3b3b3b;            

    background-color: var(--fundo-site2); 
    color: var(--sixth-color);
}

body.purple-mode {
  --primary-color: #FFF;
  --fourth-color: #3a0ca3;
  --shadow-color: #e0c3fc;
  --fundo-site2: #383838;

  background-color: #240046;
  color: var(--primary-color);
}

ul, ol {
    list-style: none;
}

li {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    transition: color .7s;
}

.img500 {
    width: min(var(--wh100), 83vh);
    min-height: 30vh;
    object-fit: cover;
    border-radius: var(--border-radius10);
}

.imgObjetivos {
    width: min(var(--wh100), 7vh);
}

.imgIconPerson {
    width: min(var(--wh100), 4vh);
}

.header-page {
    width: var(--wh100);
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: var(--fourth-color);

    & h1 {
        font-size: clamp(var(--font2), 4vw, var(--font3));
        word-break: break-word;
        color: var(--primary-color);
    }
}

.header-menu {
    display: flex;
    gap: var(--gap20);

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        & img {
            width: 50px;
            height: 50px;
        }
    }
}


.modo-purple {
    width: 50px;
    height: 50px;
    background-color: rgb(184, 17, 184);
    border: 1px solid black;
    border-radius: var(--border-radius20);
}

.container {
    width: var(--wh100);
    height: var(--wh100);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: var(--wh50);
    font-size: clamp(1.4rem, 2vw, var(--font2));
}

@media (min-width: 1024px) {
    .menu-hamburguer {
        display: none;
    }
}

.mobile-menu {
    display: block;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 8px;
}

@media (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    .navegacao {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 35vh;
        background-color: var(--fourth-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
}

.navegacao.active {
    transform: translateX(0)
}

.main-page {
    min-height: calc(100vh - 100px);
    width: var(--wh80);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.modo-light {
    background-color: var(--fundo-site2);
}

.section-page {
    width: var(--wh100);
    min-height: 60vh;
    height: 100vh;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        font-size: clamp(var(--font2), 5vw, 4rem);
        margin-bottom: 4vw;
        color: var(--primary-color);
    }
}

.section-page7 {
    width: var(--wh100);
    min-height: 60vh;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filho-page1 {
    width: var(--wh100);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.filho-page2 {
    display: flex;
    width: var(--wh100);
    height: 75vh;
    align-items: center;
    min-height: 200px;
    gap: var(--gap20);
    padding: 0px 20px;
    background-color: var(--fourth-color);
}

.filho-page3 {
    width: var(--wh100);
    height: 75vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filho-page4 {
    display: flex;
    width: var(--wh100);
    align-items: center;
    min-height: 200px;
    background-color: var(--fourth-color);
    border-radius: var(--border-radius10);
    gap: var(--gap30);

    & p {
        width: 45%;
        color: var(--primary-color);
    }
    
}

.filho-page5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70vh;
    width: var(--wh100);
    overflow: hidden;
    border-radius: var(--border-radius10);
    background-color: var(--fourth-color);
}

.filho-page6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.beneficios {
    display: none;
    width: var(--wh80);
    height: 400px;
    gap: var(--gap30);
    border-radius: var(--border-radius10);
}

.beneficios.active {
    display: flex;
}

.conteudo-page2 {
    width: var(--wh100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;

    & h2 {
        font-size: 3.7rem;
        color: var(--primary-color);
    }

    & p {
        font-size: 2.3rem;
        color: var(--primary-color);
    }

    & span {
        font-weight: bold;
        color: var(--secondary-color);
    }
}

.conteudo-page4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.conteudo-page5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 34%;

    & h2 {
        font-size: var(--font3);
        color: var(--primary-color);
    }

    & p {
        font-size: var(--font2);
        color: var(--primary-color);
    }
}

.nav-button {
    position: absolute;
    top: 45%;
    font-size: var(--gap30);
    color: white;
    background: var(--fourth-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.prev {
    left: var(--gap10);
}

.next {
    right: var(--gap10);
}

.conteudo-page7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--wh100);
    height: var(--wh100);
    gap: 50px;
}

.quiz {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 500px;
    width: 40%;
    border-radius: var(--border-radius20);
    border: solid 1px black;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, .3);
    background-color: var(--third-color);
}

.quiz2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--gap30) 0px;
    gap: var(--gap10);
    height: 20px;
}

.btn-quiz {
    background-color: white;
    color: var(--text-color);
    width: var(--wh100);
    border: solid 1px black;
    padding: var(--padding10);
    margin: 10px 0px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-quiz:hover{
    background-color: var(--fourth-color);
    color: white;
}

.prox-btn {
    width: 150px;
    padding: var(--padding10);
    margin: auto;
    font-size: var(--font2);
    font-weight: bold;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: .4s;
    display: none;
}

.prox-btn:hover {
    background-color: var(--fifth-color);
}

.correta {
    background: #9aeabc;
}

.incorreta {
    background: #ff9393;
}

.formulario {
    width: 40%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 6px;
    background-color: var(--third-color);
    border: solid 1px black;
    border-radius: var(--border-radius10);
    box-shadow: 5px 8px 10px rgba(0, 0, 0, .3);

    & h2 {
        margin-bottom: 20px;
    }

    & input {
        border-radius: 5px;
        padding: var(--padding10);
        font-size: var(--font2);
        box-shadow: none;
        border: none;
        background-color: #dadada;
    }

    & textarea {
        height: 100px;
        border-radius: 5px;
        padding: var(--padding10);
        font-size: var(--font2);
        box-shadow: none;
        border: none;
        background-color: #dadada;
        resize: none;
        margin-bottom: 15px;
    }

    & button {
        width: var(--wh50);
        padding: var(--padding10);
        font-size: var(--font2);
        font-weight: bold;
        background-color: var(--secondary-color);
        color: white;
        border-radius: var(--border-radius10);
        border: none;
        cursor: pointer;
        transition: .4s;
    }

    & button:hover {
        background-color: var(--fifth-color);
    }
}

.input-control {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}

.objetivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 60%;
    border: solid 1px black;
    border-radius: var(--border-radius20);
    padding: 20px;
    gap: 40px;
    background-color: var(--fundo-site2);

    & h2 {
        font-size: var(--font2);
        text-align: center;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    padding: var(--font2);
    position: absolute;
    gap: 1.5rem;
    left: 0px;
    width: 250px;
    height: 270px;
    border-radius: var(--border-radius20);
    border: solid 1px var(--primary-color);
    background-color: var(--fourth-color);
    font-size: 1.7rem;

    & p {
        font-weight: bold;
        font-size: var(--font2);
        color: var(--primary-color);
    }
}

@media (max-width: 1024px) {
    .menu {
        display: none;
    }
}

.pgrafo {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    color: var(--primary-color);
    width: var(--wh50);
}

.p-center {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 7rem;

    & p {
        margin-top: 0px;
        font-size: 2.5rem;
        margin-bottom: 5rem;
        color: var(--primary-color);
        width: var(--wh80);
    }
}

.h-center {
    width: 60%;
    text-align: center;
    color: var(--primary-color);
}

.rodape {
    display: flex;
    width: var(--wh100);
    height: 200px;
    background-color: var(--fourth-color);
    align-items: flex-end;

    & p {
        width: var(--wh100);
        text-align: center;
        color: var(--primary-color);
    }
}

.baixar-jogo {
    padding: 30px;
    margin-bottom: 50px;
    border-radius: var(--border-radius20);
    border: none;
    font-size: var(--font2);
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    box-shadow: 4px 4px var(--shadow-color);
}

.baixar-jogo:active {
    box-shadow: none;
}